body {
	font-family: 'Roboto', sans-serif;
}

.image-logo {
	text-align: center;
}

.spinner {
	position: absolute;
	top: 50vh;
	margin: 0 auto;
}

.answer-button {
	width: 100%;
	max-width: 500px;
	margin-right: 16px;
	margin-bottom: 16px;
	padding: 14px !important;
	font-size: 16px !important;
	border: 1px solid #bdbdbd !important;
	border-radius: 6px !important;
	color: black !important;
}
.answer-button-selected {
	width: 100%;
	max-width: 500px;
	margin-right: 16px;
	margin-bottom: 16px;
	padding: 14px !important;
	font-size: 16px !important;
	border: 1px solid #1a237e !important;
	background-color: #1a237e !important;
	box-shadow: 2px 2px 10px #5C6BC0, 0px 2px 10px #5C6BC0;
	border-radius: 6px !important;
	color: white !important;
}

.main {
	height: 90vh;
}

.loading-line {
	height: 4px;
	width: 100%;
	text-align: center;
	position: absolute;
	margin: 0 auto;
	background-color: #bdbdbd;
}

.loading-percent {
	height: 4px;
	background-color: #0277bd;
	position: absolute;
	width: 100%;
	margin: 0 auto;
	animation: loading 1.8s ease-out;
}

@keyframes loading {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

.timer-button {
	min-width: 50px !important;
}
